<section {{ function('get_block_wrapper_attributes') }}>
  <img
    src="{{ get_image(attributes.image_1).src }}"
    alt="{{ get_image(attributes.image_1).alt }}"
  />
  <img
    src="{{ get_image(attributes.image_2).src }}"
    alt="{{ get_image(attributes.image_2).alt }}"
  />
</section>
